<div class="col-md-4 col-md-offset-4">
  <h1>修改职位</h1>
  <%= simple_form_for [:admin, @job] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
